
<ul class="list-group">
    <ul class="list-group">
        <% for(var i=items.length-1; i >= 0; i--) {%>
        <% var username; %>
        <% if (items[i].users[0].username == "NULL") {%>
        <% username = 'anon'%>
        <%} else {%>
        <%username = (items[i].users[0].username)%>
        <%}%>
        <% if (items[i].userId == userId) {%>
        <li class="list-group-item">
            <%if (items[i].retweet == 1) {%>
            <% var userAdr = "/profile/"+items[i].userId%>
            <i><%= items[i].createdAt%> by <a href=<%=userAdr%>><b><%= username%></b></a></i> <span class="badge badge-secondary">retweet</span>
            <br>
            <blockquote class="blockquote">
                <i><%=items[i].orCreatedAt%> by <b> <%=items[i].orUserName%> </b></i>
                <br>
                <%= items[i].text %>
            </blockquote>
            <%} else {%>
            <% var userAdr = "/profile/"+items[i].userId%>
            <i><%= items[i].createdAt%> by <a href=<%=userAdr%>><b><%= username%></b></a></i>
            <br>
            <% var link = "/message/" + items[i].id%>
            <a href="<%=link%>"><%= items[i].text %> </a>
            <%}%>
            <br>
            <% var edit = "edit/" + items[i].id%>
            <a href=<%=edit%> class="btn btn-default"><span class="fas fa-pencil-alt"></span>Edit</a>
        </li>
        <% } else {%>
        <li class="list-group-item">
            <%if (items[i].retweet == 1) {%>
            <i><%= items[i].createdAt%> by <b><%= username%></b></i> <span class="badge badge-secondary">retweet</span>
            <br>
            <blockquote class="blockquote">
                <i><%=items[i].orCreatedAt%> by <b> <%=items[i].orUserName%> </b></i>
                <br>
                <%= items[i].text %>
            </blockquote>
            <%} else {%>
            <i><%= items[i].createdAt%> by <b><%= username%></b></i>
            <br>
            <%var link = "/message/" + items[i].id%>
            <a href="<%=link%>"><%= items[i].text %> </a>
            <%}%>
            <br>
            <% var edit = "retweet/" + items[i].id%>
            <a href=<%=edit%> class="btn btn-default"><span class="fas fa-retweet"></span>Retweet</a>
        </li>
        <% } %>
        <% } %>
    </ul>
</ul>