
<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/bootstrap-alerts.min.js"></script>
    <style>
        .cmxform fieldset p.error label {
            color: red;
        }
        div.container {
            background-color: #eee;
            border: 1px solid red;
            margin: 5px;
            padding: 5px;
        }
        div.container ol li {
            list-style-type: disc;
            margin-left: 20px;
        }
        div.container {
            display: none
        }
        .container label.error {
            display: inline;
        }
        form.cmxform {
            width: auto;
        }
        form.cmxform label.error {
            display: block;
            margin-left: 1em;
            width: auto;
            color: red;
        }
    </style>
    <script>

        $().ready(function() {
            $("#addItemt").validate({
                rules: {
                    itemText: {
                        maxlength: 255},
                messages: {
                    itemText: {
                            required: "!",
                            minlength: jQuery.validator.format("!!!!Please, at least {0} characters are necessary"),
                            maxlength: jQuery.validator.format("!!!"),
                        },
                    }
                },
                invalidHandler: function (event, validator) {

                    // 'this' refers to the form
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        $('#error').bootstrapAlert({
                            type: 'warning',
                            message: 'Please enter no more than 5 characters.'
                        });
                    } else {
                        $("div.error").hide();
                    }
                }


            });
        });
    </script>
</head>

<body>


<%- include('../partials/header_user'); %>

<!-- Begin page content -->

<main role="main" class="container">

    <form  class="cmxform" id="addItemt" name="addItem" method="post" action="/addItem">
        <div class="form-group">
            <div id="error">

            </div>
            <div class="error">
            </div>
            <label for="exampleFormControlTextarea1">Put your text</label>
            <textarea class="form-control" title="" name="itemText" id="itemText" rows="3" maxlength="10"></textarea>
            <input class="btn btn-dark" type="submit" value="Submit">
            </div>
        </div>
    </form>
    <main role="main" class="container">
        <ul class="list-group">
            <ul class="list-group">
                <% for(var i=items.length-1; i >= 0; i--) {%>
                    <% if (items[i].userId == userId) {%>
                        <li class="list-group-item">
                            <%if (items[i].retweet == 1) {%>
                            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i> <span class="badge badge-secondary">retweet</span>
                            <br>
                            <blockquote class="blockquote">
                                <i><%=items[i].orCreatedAt%> by <b> <%=items[i].orUserName%> </b></i>
                                <br>
                                <%= items[i].text %>
                            </blockquote>
                            <%} else {%>
                            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i>
                            <br>
                            <%var link = "/message/" + items[i].id%>
                            <a href="<%=link%>"><%= items[i].text %> </a>
                            <%}%>
                            <br>
                            <% var edit = "edit/" + items[i].id%>
                            <a href=<%=edit%> class="btn btn-default"><span class="fas fa-pencil-alt"></span>Edit</a>
                        </li>
                    <% } else {%>
                        <li class="list-group-item">
                            <%if (items[i].retweet == 1) {%>
                            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i> <span class="badge badge-secondary">retweet</span>
                            <br>
                            <blockquote class="blockquote">
                                <i><%=items[i].orCreatedAt%> by <b> <%=items[i].orUserName%> </b></i>
                                <br>
                                <%= items[i].text %>
                            </blockquote>
                            <%} else {%>
                            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i>
                            <br>
                            <%var link = "/message/" + items[i].id%>
                            <a href="<%=link%>"><%= items[i].text %> </a>
                            <%}%>
                            <br>
                            <% var edit = "retweet/" + items[i].id%>
                            <a href=<%=edit%> class="btn btn-default"><span class="fas fa-retweet"></span>Retweet</a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </ul>
        <p><a href="/1"> View all tweets >></a> </p>
    </main>
</main>

<%- include('../partials/footer'); -%>

</body>
</html>
