
<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>
</head>

<body>

<%- include('../partials/header_guest'); %>

<!-- Begin page content -->
<main role="main" class="container">
    <ul class="list-group">
        <% for(var i=items.length-1; i >= 0; i--) {%>
        <li class="list-group-item">
            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i>
            <br>
            <%= items[i].text %>
        </li>
        <% } %>
    </ul>
    <p><a href="/1"> View all tweets >></a> </p>
</main>


<%- include('../partials/footer'); -%>

</body>
</html>
