<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>
</head>

<body>

<%- include('../partials/header_user'); %>
<div class="container">
    <ul class="list-group">
        <% for(var i=items.length-1; i >= 0; i--) {%>
        <li class="list-group-item">
            <i><%= items[i].createdAt%> by <b><%= items[i].userName%></b></i>
            <br>
            <%= items[i].text %>
        </li>
        <% } %>
    </ul>

    <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (current == 1) { %>
        <li class="page-item disabled" tabindex="-1"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a class="page-link" href="/1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled" tabindex="-1"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item active"><a class="page-link"> <%= i %></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled" tabindex="-1"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
        <% if (current == pages) { %>
        <li class="page-item disabled" tabindex="-1"><a class="page-link">Last</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>

</div>
</main>
<%- include('../partials/footer'); -%>

</body>
</html>