<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>
</head>

<body>

<%- include('../partials/header_guest'); %>
<div class="container">
    <%- include('../partials/parts/list_allMessagesGuest') -%>
    <%- include('../partials/parts/pagination') -%>



</div>
</main>
<%- include('../partials/footer'); -%>

</body>
</html>