
<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <!-- Custom styles for form validate -->
    <link href="/stylesheets/form.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>

</head>

<body>


<%- include('../partials/header_user'); %>

<!-- Begin page content -->
<main role="main" class="container">
    <h2>Hello, <%=user.username%>!</h2>
    <h3>Do you want to change your username?</h3>
    <form  class="cmxform" id="newName" name="newName" method="post" action= "/profile">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Put your new name</label>
            <textarea class="form-control" name="answerText" id="answerText" rows="1"></textarea>
            <input class="btn btn-dark" type="submit" value="Submit">
        </div>
    </form>
</main>


<%- include('../partials/footer'); -%>
<%- include('../partials/bootstraplinks'); -%>
<script src="/js/jquery.validate.js"></script>
<script src="/js/username-validate.js"></script>
</body>
</html>
