
<!doctype html>
<html lang="en">
<head>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <%- include('../partials/head'); -%>
    <title>Main page</title>

</head>

<body>


<%- include('../partials/header_user'); %>

<!-- Begin page content -->
<main role="main" class="container">
    <%- include('../partials/parts/form_message')%>
    <%- include('../partials/parts/list_allMessages')%>
</main>


<%- include('../partials/footer'); -%>
<%- include('../partials/bootstraplinks'); -%>
<script src="/js/jquery.validate.js"></script>
<script src="/js/form-validate.js"></script>
</body>
</html>
